<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="assets/font-awesome-4.6.3/css/font-awesome.css">
    <link rel="stylesheet" href="assets/style.css">
    <script src="assets/angular/1.5.7/angular.js"></script>
    <script src="assets/socket.io.js"></script>
</head>
<body ng-app="chatModule" ng-controller="ChatController as ctrl">
<main class="container">
    <header>
        <h4>Admin</h4>
    </header>
    <hr>
    <div class="portlet-body">
        <div class="slimScrollDiv m-b-1">
            <div class="scroller">
                <ul class="chats">
                    <li class="in">
                        <img class="avatar" alt="" src="media/image/avatar1.jpg">
                        <div class="message">
                            <span class="arrow"></span>
                            <a href="#" class="name">Bob Nilson</a>
                            <span class="datetime">at Jul 25, 2012 11:09</span>
                            <span class="body">
                                Lorem ipsum dolor sit amet.
                                </span>
                        </div>
                    </li>
                    <li class="out">
                        <img class="avatar" alt="" src="media/image/avatar2.jpg">
                        <div class="message">
                            <span class="arrow"></span>
                            <a href="#" class="name">Lisa Wong</a>
                            <span class="datetime">at Jul 25, 2012 11:09</span>
                            <span class="body">
                                Lorem ipsum dolor sit amet.
                                </span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="chat-form">
            <div class="input-cont">
                <textarea class="pull-left form-control" type="text" placeholder="Type a message here..."
                          ng-model="ctrl.message"></textarea>
            </div>
            <div class="btn-cont">
                <span class="arrow"></span>
                <a href="" class="btn blue icn-only" ng-click="ctrl.send()">发送</a>
            </div>
        </div>
    </div>
</main>
<script>
    angular.module('chatModule', []).controller('ChatController', class ChatController {
        constructor ($scope) {
            this.socket = io();
            this.messageList = [];
            this.socket.on('posted', (data) => {
                this.messageList.push(data);
                $scope.$apply();
            });
        }

        send () {
            this.socket.emit('post', {
                message: this.message
            });
        }
    });
</script>
</body>
</html>
