<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="assets/font-awesome-4.6.3/css/font-awesome.css">
    <link rel="stylesheet" href="assets/style.css">
    <script src="assets/angular/1.5.7/angular.js"></script>
</head>
<body ng-app="usersModule" ng-controller="UsersController as ctrl" ng-init="ctrl.init()">
<div class="container">
    <header>
        <h1>用户管理</h1>
    </header>
    <hr>
    <nav class="btn-toolbar m-b-1">
        <button title="Add" class="btn btn-success" ng-click="ctrl.add()">
            <i class="fa fa-plus"></i>&nbsp;新增用户
        </button>
    </nav>
    <div class="table-responsive">
        <table class="table">
            <thead class="thead-default">
            <tr>
                <th>mail</th>
                <th>username</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="user in ctrl.userList">
                <td>
                    <input ng-if="ctrl.show" type="text" ng-model="user.mail">
                    <span ng-if="!ctrl.show" ng-bind="user.mail"></span>
                </td>
                <td>
                    <input ng-if="ctrl.show" type="text" ng-model="user.username">
                    <span ng-if="!ctrl.show" ng-bind="user.username"></span>
                </td>
                <td>
                    <button title="Edit" class="btn btn-success btn-xs" ng-click="ctrl.edit()">
                        <i class="fa fa-pencil"></i>
                    </button>
                    <button title="Save" class="btn btn-info btn-xs" ng-click="ctrl.saveEdited(user)">
                        <i class="fa fa-floppy-o"></i>
                    </button>
                    <button title="Delete" class="btn btn-danger btn-xs" ng-click="ctrl.remove(user)">
                        <i class="fa fa-trash"></i>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="modal fade in" style="display: block" ng-if="ctrl.showUserDetail">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" ng-click="ctrl.showUserDetail = false">
                        <span>×</span>
                    </button>
                    <h4 class="modal-title">编辑用户</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Email" ng-model="ctrl.mail">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Password" ng-model="ctrl.pass">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Username" ng-model="ctrl.name">
                    </div>
                    <hr>
                    <div class="alert alert-warning" ng-if="ctrl.error">
                        <i class="fa fa-warning"></i>
                        <output>{{ctrl.error}}</output>
                    </div>
                </div>
                <div class="modal-footer">
                    <button title="Save" class="btn btn-info btn-xs" ng-click="ctrl.save()">
                        <i class="fa fa-floppy-o"></i>&nbsp;保存当前新用户
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-backdrop fade in" ng-if="ctrl.showUserDetail"></div>
</div>
<script>
    angular.module('usersModule', []).controller('UsersController', class UsersController {
        constructor($http) {
            this.$http = $http;
            this.error = '';
            this.userList = [];
            this.show = false;
            this.showUserDetail = false;
        }

        init() {
            this.$http.get('/users/').then((resp) => {
                this.userList = resp.data;
            });
        }

        add() {
            this.showUserDetail = true;
        }

        save() {
            this.$http.post('/users/', {
                mail: this.mail,
                password: this.pass,
                username: this.name
            }).then(resp => {
                if (this.error = resp.data.msg) {
                    return;
                }
                this.showUserDetail = false;
                this.init();
            });
        }

        remove(user) {
            this.$http.delete('/users/' + user._id).then(() => this.init());
        }

        edit() {
            this.show = true;
        }

        saveEdited(list) {
            this.show = false;
            this.$http.put('/users/', {mail: list.mail, password: list.password, username: list.username})
                    .then(function (list) {
                    });
        }
    });
</script>
</body>
</html>
