<div class="panel">
    <div class="panel-heading">
        <h3>ShareTalk</h3>
    </div>
    <div class="panel-body">
        <div class="well">
            <ul>
                <li ng-repeat="msg in model.messages">
                    {{msg.sender}} : {{msg.content}}
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="panel">
    <div class="panel-body">
            <textarea class="form-control" ng-model="model.content">
                <!--文本输入框-->
            </textarea>
        <button class="btn btn-primary" ng-click="model.send()">发送</button>
    </div>
</div>